body {
    font-family: 'Jomolhari', serif;
}

#dropdownMenuButton:hover {
    border-width: 3;
    border-color: black;
}

.btn-sm {
    border-color:  #687477;
    background-color: #F7F3F5;
}

#apply-filter {
    border-color: #687477;
}


/* For home page carousel */
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.overlay {
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

/* For products page */

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#filters {
    min-width: 260px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, -50%);
    color: rgb(248, 249, 249, 0.6);
    z-index: 1;
}

.round {
    border-radius: 10px;
}

/* Retailers styles */

body#retailers-body {
    background-image: url("/static/images/background_kayaker.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#title-retailers {
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

div.retailers {
    background: rgb(100%,100%,100%,.4);
    min-height: 850px;
}