body {
    font-family: 'Jomolhari', serif;
}



/* For home page carousel */
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
}




/* For products page */

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#filters {
    min-width: 260px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, -50%);
    color: rgb(248, 249, 249, 0.6);
    z-index: 1;
}

.round {
    border-radius: 10px;
}

#dropdownMenuButton:hover {
    border-width: 3;
    border-color: black;
}

.filter-input {
    margin: 200px;
}



/* Retailers page styles */

body#retailers-body {
    background-image: url("/static/images/background_mtnlandscape.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#title-retailers {
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

div.retailers {
    background: rgb(100%,100%,100%,.2);
    min-height: 850px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 50px;
    border-radius: 10px;
}

.retailers-row {
    margin-top: 150px;
}



/* Activities page styles */

body#activities-body {
    background-image: url("/static/images/background_wanaka.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#title-activities {
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

div.activities {
    background: rgb(100%,100%,100%,.2);
    min-height: 850px;
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 50px;
    border-radius: 10px;
}

.activity-image {
    width: 250px;
}

.activities-row {
    margin-top: 150px;
}

div.activity {
    padding-left: 30px;
    padding-right: 30px;
}