{% extends 'base.html' %}

{% block title %}Activities{% endblock %}

{% block content %}
<br><br><br>
<div class="container mt-5 text-center">

<h1>Activities</h1>


<div class="row">
    {% for activity in activities %}

        <div class="col-md-4 my-5 overlay">
            <a href="/activity/{{ activity.activity }}"><img src={{ activity.image }} style="width:200px;"></a>
            <div class="centered">{{ activity.activity }}</div>
        </div>

    {% endfor %}
    </div>

</div>


{% endblock %}