{% extends 'base.html' %}

{% block title %}Activities{% endblock %}

{% block content %}
<body id="activities-body">

    <br><br><br>

    <div class="container activities">

        <h1 id="title-activities">Activities</h1>


        <div class="row activities-row">
            {% for activity in activities %}

                <div class="col-sm m-3">
                    <a href="/activity/{{ activity.activity }}"><img src={{ activity.image }} class="activity-image"><div class="centered">{{ activity.activity }}</div></a>
                    
                </div>

            {% endfor %}
            </div>

    </div>

</body>
{% endblock %}