{% extends 'base.html' %}

{% block title %}Retailers{% endblock %}

{% block content %}
<br><br><br>

<div class="container text-center">
    
<div class="m-4">

    <h1>Current Retailers</h1>

</div>


    <div class="row">
        <div class="col-sm">
            <a href="/retailers/rei"><img class="img-thumbnail" src="/static/images/REI_thumbnail.jpg" alt="REI image"></a>
            <!-- https://d3g9pb5nvr3u7.cloudfront.net/sites/5a05fcb14fe342030f5478ea/-744724554/256.jpg -->
        </div>
        <div class="col-sm">
            <a href="/retailers/backcountry"><img class="img-thumbnail" src="/static/images/backcountry_thumbnail.jpg" alt="backcountry image"></a>
            <!-- https://apprecs.org/ios/images/app-icons/256/27/450920999.jpg -->
        </div>
    </div>
</div>


<!-- <div class="container-flex p-5">
    <div class="row">
        <div class="col-lg-7">
        <b>About</b><br>
        Established 2020 to provide a pricing comparison between <br>
        online retailers to find the best deals and compare deals.
        </div>
        <div class="col-lg-3">
        <b>Contact</b><br>
        <a href="https://www.linkedin.com/in/leifaflor/">LinkedIn</a><br>
        <a href="https://github.com/lafBot">Github</a>
        </div>
        <div class="col-lg-2">
        <b>Suggest an edit</b><br>
        <a href="https://github.com/lafBot/PriceComparison/issues">Report an issue</a>
        </div>
    </div>
</div> -->

{% endblock %}